#!/usr/bin/make -f

PKG_PATH:=/usr/share/php/EaseCore
BUILD_DIR:=build

%:
	dh $@ --with phpcomposer

override_dh_prep:
	phpdoc -d lib --defaultpackagename=MainPackage
	rm -rf phpdoc
	mkdir -p phpdoc        
	mv .phpdoc/build/* phpdoc
	dh_prep

override_dh_auto_test:
#	composer update --no-ansi --no-interaction --no-progress --no-scripts --optimize-autoloader
#	./vendor/bin/phpunit --bootstrap test/bootstrap.php 
	dh_auto_test


override_dh_install:
	dh_install
	phpab --output debian/php-vitexsoftware-rbczpremiumapi/usr/share/php/Raiffeisenbank/autoload.php \
		--basedir debian/php-vitexsoftware-rbczpremiumapi/usr/share/php/Raiffeisenbank \
		--tolerant \
		debian/php-vitexsoftware-rbczpremiumapi/usr/share/php/Raiffeisenbank
	install -m0755 -d debian/php-vitexsoftware-rbczpremiumapi/usr/share/pkg-php-tools/autoloaders
	echo 'deb rbczpremiumapi Raiffeisenbank/autoload.php' > debian/php-vitexsoftware-rbczpremiumapi/usr/share/pkg-php-tools/autoloaders/php-vitexsoftware-rbczpremiumapi
